* {
  font-family: Helvetica;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
}

.active {
  background-color: #0b5ed7 !important;
  border: 0.5px solid #0b5ed7 !important;
  color: white !important;
}

.textArea > div > b {
  font-weight: bolder !important;
  font-size: larger;
}
.admin-section {
  overflow-y: scroll;
}

.header img {
  height: 70px !important;
}

.keysArea {
  max-height: 300px !important;
  overflow-y: scroll !important;
}

.verifyImg {
  width: 100px !important;
}
.verifiedProduct {
  height: 300px !important;
  width: 100px !important;
}
.products img {
  width: auto !important;
}

.verifyButton {
  background-color: #f9b656;
  border: none;
  font-size: 15px;
  letter-spacing: -1px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.anotherbutton {
  background-color: #f9b656;
  width: 300px !important;
  border: none;
  font-size: 15px;
  letter-spacing: -1px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px !important;
  text-transform: uppercase;
}
.branding {
  color: #f9b656;
  font-size: 18px !important;
  letter-spacing: -1px !important;
  line-height: 20px !important;
}
.astroExtract {
  font-size: 10px !important;
  letter-spacing: -1px;
}
.verificationCode {
  padding-top: 20px;
  font-size: 10px;
  font-weight: bold;
}

#verificationCode {
  width: 25% !important;
  padding-top: 20px;
  background-color: aliceblue;
  border-radius: 20px !important;
}
.errorText {
  font-size: 25px;
}
.branding {
  line-height: 30px;
  font-size: 25px;
  letter-spacing: -1px;
}
.footerImg {
  width: 100px;
}
.footer {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 12px !important;
}

.textArea {
  color: black;
  font-weight: bold;
  font-size: 15px;
}
.footerText {
  font-weight: bolder;
  letter-spacing: -1px;
}

.errorImage {
  width: 150px !important;
}

.errorAnotherButton {
  padding: 20px !important;
  margin-top: 50px !important;
}

.toolArea {
  background-image: url("./assets/main-background.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 50px !important;
  min-height: 95vh;
  overflow-y: hidden;
}
.verifyArea {
  background-image: url("./assets/verify-background.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 50px !important;
  min-height: 95vh;
  overflow-y: hidden;
}
.errorArea {
  background-image: url("./assets/error-background.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 50px !important;
  min-height: 95vh;
  overflow-y: hidden;
}

@media (max-width: 992px) {
  #verificationCode {
    width: 30% !important;
  }
}

@media (max-width: 767px) {
  .verifyArea {
    background-image: none !important;
    background-color: white !important;
  }
  .loginArea {
    background-image: none !important;
    background-color: white !important;
  }
  .verifyImg {
    width: 50px !important;
  }
  .verifiedProduct {
    width: 100px !important;
    height: 400px !important;
  }
  .textArea {
    font-size: 15px;
  }
  .errorArea {
    background-image: none;
    background-color: white;
  }
  #verificationCode {
    width: 50% !important;
  }
  .top-heading {
    font-size: 15px !important;
  }
}
@media (max-width: 628px) {
  .toolArea {
    background-image: none;
    background-color: white;
    min-height: 100vh !important;
  }
  .verifyArea {
    width: 100vw !important;
  }
  .verifiedProduct {
    width: 100px !important;
    height: 350px !important;
  }
  .textArea {
    font-size: 15px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .toolArea {
    min-height: 100vh !important;
    margin-top: 120px !important;
  }
  .errorArea {
    margin-top: -30px !important;
  }

  .errorText {
    font-size: 18px;
  }
  .top-heading {
    font-size: 22px !important;
  }
  .verify-btn {
    margin-top: 30px;
  }
  #verificationCode {
    margin-top: 30px !important;
    width: 70% !important;
  }
  .verifiedProduct {
    width: 100px !important;
    height: 250px !important;
  }
  .textArea {
    font-size: 10px;
  }
}

@media (max-width: 319px) {
  .verifiedProduct {
    width: 100px !important;
    height: 200px !important;
  }
  .textArea {
    font-size: 9px;
  }
}

@media (max-height: 989px) {
  .productArea {
    padding-top: 30px !important;
    padding-bottom: -30px !important;
    margin-top: -30px !important;
  }
}

@media (max-height: 845px) {
  .toolArea {
    padding-top: 10px !important;
    overflow-y: hidden !important;
  }
  .verifyArea {
    padding-top: 10px !important;
    overflow-y: hidden !important;
  }
  .top-heading {
    font-size: 17px;
    padding-bottom: 0%;
  }

  #verificationCode {
    padding: 15px;
  }
}

@media (max-height: 750px) {
  .toolArea {
    padding-top: 15px !important;
  }
  .verifyArea {
    padding-top: 15px !important;
  }
  .top-heading {
    font-size: 17px;
  }
  .verificationText {
    font-size: 13px;
  }
  #verificationCode {
    padding: 5px;
    margin-top: -10px;
  }
  .verify-btn {
    margin-top: 0px;
    width: 150px;
    height: 50px;
  }
  .productArea {
    margin-top: -10px;
    padding-top: 0px !important;
    margin-bottom: -30px;
  }
  .branding {
    font-size: 14px;
  }
}

@media (max-height: 667px) {
  .verifyArea {
    padding-top: 20px;
  }
  .toolArea {
    margin-top: 70px !important;
  }
  #verificationCode {
    padding: 10px !important;
    margin-top: 10px;
  }
  .verify-btn {
    width: 150px;
    height: 50px;
    font-size: 15px;
    margin-top: 10px;
  }
  .productArea {
    padding: 10px;
    margin-top: 0px !important;
    margin-bottom: -30px;
  }
  .branding {
    font-size: 14px;
  }
}

@media (min-height: 56px) and (max-height: 600px) {
  .toolArea {
    margin-top: 20px;
  }
  .verifyArea {
    margin-top: 20px;
  }
}
